.idea/
Data/bin
Data/obj
Domain/bin
Domain/obj
Identity/obj
Identity/bin
IoC/bin
IoC/obj
Presentation/obj
Presentation/bin
Logger/obj
Logger/bin
Email/obj
Email/bin
IdentityServer/obj
IdentityServer/bin
Email/bin
.vs/
.vscode/